!!! 5
html
  body
    ul
      li
        a(href:'/dysentery') Without Express-Mongoose
      li
        a(href:'/bacon') With Express-Mongoose
      li
        a(href:'/died/from/badbacon') Instrumentation
    div!= body
